@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .__px {
    @apply px-6;
  }
  .float_btn_shadow {
    box-shadow: 0 0 20px theme(colors.primary / 30%);
  }
}

body {
  @apply bg-soft-gray;
}

.animate_slide_up {
  animation: animate_slide_up 150ms ease-in;
}

.animate_slide_down {
  transform: translateY(-15px);
  opacity: 0;
  transition: 150ms;
}

@keyframes animate_slide_up {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}

span[aria-live='polite'] {
  display: inherit;
  line-height: 0;
}

/* .__its_me:first-child {
  border-bottom-right-radius: 0px;
}
.__its_me:last-child {
  border-top-right-radius: 0px;
} */
.__its_me + .__its_me {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
