@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .__px {
    @apply px-6;
  }
  .float_btn_shadow {
    box-shadow: 0 0 20px theme(colors.primary / 30%);
  }
  .__emoji_btn {
    @apply rounded-full flex justify-center items-center h-full text-dark-900/50 cursor-pointer;
  }
}

body {
  @apply bg-soft-gray;
}

.animate_slide_up {
  animation: animate_slide_up 150ms ease-in;
}

.animate_slide_down {
  transform: translateY(-15px);
  opacity: 0;
  transition: 150ms;
}

@keyframes animate_slide_up {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}

span[aria-live='polite'] {
  display: inherit;
  line-height: 0;
}

._svg_spinner {
  animation: rotate 2s linear infinite;
}

._svg_spinner .path {
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.emoji-picker-react {
  @apply !w-full;
}
em-emoji-picker {
  width: 100% !important;
}

/* .__its_not_me + .__its_me {
  @apply !mt-3;
} */

/* .__its_me:first-child > div {
  @apply rounded-br-xl;
} */
/* 
.__its_me > div {
  @apply rounded-tr-xl;
}

.__its_me + .__its_me > div,
.__its_me + .__its_me > div .single_attachment {
  @apply rounded-tr-none;
}

.__last > div,
.__last > div .single_attachment,
.__its_me + .__its_me:last-child > div {
  @apply rounded-br-xl;
}

.__its_not_me > div {
  @apply rounded-tl-xl;
}

.__its_not_me + .__its_not_me > div,
.__its_not_me + .__its_not_me > div .single_attachment {
  @apply rounded-tl-none;
}

.__its_not_me.__last > div {
  @apply rounded-bl-xl;
} */

.__its_me:first-child > div {
  @apply rounded-tr-xl;
}
.__its_me:first-child > div .single_attachment {
  @apply rounded-tr-[10px];
}

.__its_me:last-child > div {
  @apply rounded-br-xl;
}
.__its_me:last-child > div .single_attachment:last-child {
  @apply rounded-br-[10px];
}
.__its_me:last-child .message_time_and_status_overlay {
  @apply rounded-br-[10px];
}

.__its_not_me:first-child > div {
  @apply rounded-tl-xl;
}

.__its_not_me:last-child > div {
  @apply rounded-bl-xl;
}
.__its_not_me:first-child > div .single_attachment {
  @apply rounded-tl-[10px];
}
.__its_not_me:last-child > div .single_attachment:last-child {
  @apply rounded-bl-[10px];
}

.__its_not_me:last-child .message_time_and_status_overlay {
  @apply rounded-bl-[10px];
}
